.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .homeTitle{
    width: 1024px;
    font-size: 20px;
  }
  @media (max-width: 768px) {
    .homeContainer {
      width: 95%;
      margin: 20px auto;
    }
  
    .homeTitle {
      font-size: 22px;
    }
  
    .featured,
    .pList,
    .fp {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .homeTitle {
      font-size: 20px;
    }
  
    .featured,
    .pList,
    .fp {
      gap: 10px;
    }
  }